.hero_img {
  background-image: url("/assets/img/hero.jpeg");
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.category_links {
  color: var(--nordicWhite);
  text-decoration: none;
}

.dishes_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 16px;
}

.dishes_cart_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 8px;
}

.add_to_cart {
  cursor: pointer;
}

.restaurant_logo_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant_logo {
  width: 156px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge_style {
  background-color: var(--side-color);
  padding: 8px !important;
  font-size: 14px !important;
  color: black !important;
}

.badge_style > img {
  height: 16px;
  margin-right: 8px;
}

.delete_from_cart {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.cart_quantity_btn {
  cursor: pointer;
}

.cart_icon {
  width: 200px;
  height: 150px;
}

.cart_icon > img {
  width: 56px;
  height: 56px;
}

.btn_img > img {
  width: 20px;
  height: 20px;
}

.button_responsive_cart {
  background-color: var(--side-color) !important;
  transition: all 150ms !important;  
}

.button_responsive_cart:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) !important;
  scale: 1.03;
}

.input_width {
  max-width: 50px;
  border-radius: 12px;
}