.hero_img {
  background-image: url("/assets/img/hero.jpeg");
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.category_links {
  color: var(--nordicWhite);
  text-decoration: none;
}

.dishes_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.dishes_cart_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.add_to_cart {
  cursor: pointer;
}

.restaurant_logo_wrapper {
  height: 200px;
  position: relative;
  z-index: 1;
}

.restaurant_logo {
  width: 180px;
  position: absolute;
  left: calc(50% - 90px);
  top: 80px;
}

.badge_style {
  background-color: var(--side-color);
  padding: 8px !important;
  font-size: 14px !important;
  color: black !important;
}

.badge_style > img {
  height: 16px;
  margin-right: 8px;
}


.delete_from_cart {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.cart_quantity_btn {
  cursor: pointer;
}

.cart_icon {
  width: 200px;
  height: 150px;
}

.cart_icon > img {
  width: 56px;
  height: 56px;
}